Source: mediawiki-page-publish
Section: utils
Priority: optional
Maintainer: L. Jiang <l.jiang.1024@gmail.com>
Build-Depends: debhelper (>= 9), rsync
Standards-Version: 3.9.8

Package: mediawiki-page-publish
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MediaWiki page publish tool
